body {
    background-color: #ff0033;
}
.container {
    padding-top: 60px;
}

.error {
    color: #ff0033;
    font-size: 18px;
    text-align: center;
}

#form-login{
     max-width: 400px;
    padding: 15px;
    margin: 0 auto;
    background-color: #303138;
    color: #ffffff;
}

#form-login label {
    color: #ffffff;
}

hr{
     border: 0;
    height: 2px;
    background: #fff;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.form-header {
     padding: 50px;
     color: #ffffff;    
}

.form-header h1 {
     font-size: 44px;
     text-align: center;    
}
.form-header h2 {
     font-size: 40px;
     text-align: center;
}

.form-header h3 {
     font-size: 30px;
     text-align: center;
}

#company-select {
    width: 100%;
}

.login-button{
    background: #00BF6B;
    font-size: 18px;
    color: #ffffff;
    border: none;
    border-radius: 80px;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-button:hover{
    color: #ffffff;
    background: #007F47;
    width: 100%;
     font-size: 18px;
}

.form-signin {
    max-width: 430px;
    padding: 15px;
    margin: 0 auto;
    background-color: #ff0033;
}
#login-footer-link {
    color: #00BF6B;
    text-align: center;
    text-decoration: none;
 
}
#login-footer-link:hover{
    color: #ffffff;
}

/** register page**/
#form-register{
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
    background-color: #303138;;
}

/* nav bar style */

#note-nav {
     background: #00BF6B;
     color: #ffffff;
}
#note-nav a:hover{
    color: #303138;
}
#nav-link-text {
    color: #ffffff;
}

 
