body {
    background-color: #ff0033;
}
.container {
    padding-top: 60px;
}

.error {
    color: #ff0033;
    font-size: 20px;
}   

.form-signin {
    max-width: 430px;
    padding: 15px;
    margin: 0 auto;
    background-color: #cccccc;
}

.bg-primary {
    background-color: #ec4141;
}

 
